@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;1,100&display=swap');

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    
}
.barramenu{
    width: 150px;
}
ul li {
    display: inline-block;
    padding: 0px 20px;
}

a {
    text-decoration: none; /* Elimina la decoración de los enlaces (subrayado) */
    color: black;

}
a:hover{
    color: #f38a8a;
}

/*banner */

.banner {
    position: relative; /* Establece la posición relativa para que los elementos hijos se posicionen con respecto a este contenedor */
    width: 100%; /* Ajusta el ancho del banner según tus necesidades */
    margin-bottom: 0px;
    font-family: 'Raleway', sans-serif;
}

img {
    width: 100%; /* Ajusta el ancho de la imagen al 100% del contenedor */
}

.texto-banner {
    position: absolute; /* Establece la posición absoluta para que el texto se pueda superponer a la imagen */
    top: 40%; /* Ajusta la posición vertical del texto */
    left: 10%; /* Ajusta la posición horizontal del texto */
    transform: translate(-50%, -50%); /* Centra el texto en el banner */
    text-align: left; /* Alinea el texto al centro */
    color: #0a0a0a; /* Cambia el color del texto */
}

h1 {
    font-size: 36px; /* Establece el tamaño de fuente para el título */
}

p {
    font-size: 18px; /* Establece el tamaño de fuente para el texto descriptivo */
    color: #f38a8a;
}

.buttonbanner1{
    box-shadow: #0a0a0a;
    font-family: 'Raleway', sans-serif;
    
}


/************************************* Productos slider ******************************/
.product {
    position: relative;
    overflow: hidden;
    padding: 20px;
    font-family: 'Raleway', sans-serif;
  }
  
  .product-category {
    padding: 0 20vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
    text-transform: capitalize;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  
  .product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    height: 300px;
  }
  
  .product-container::-webkit-scrollbar {
    display: none;
  }
  
  .product-card {
    flex: 0 0 auto;
    width: 200px;
    height: 300px;
    margin-right: 30px;
    border-radius: 10px;
    
  }
  .product-card:hover{
    box-shadow: 0 0 10px #666;
    scale: 1.05;
  }
  .product-image {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  
  .product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0px;
  }
  
  .discount-tag {
    position: absolute;
    background: #f09d9d;
    padding: 5px;
    border-radius: 5px;
    color: #f3eded;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
  }
  
  .card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
  }
  
  .product-card:hover .card-btn {
    opacity: 1;
  }
  
  .card-btn:hover {
    background: #ff7d7d;
    color: #fff;
  }
  
  .product-info {
    width: 100%;
    height: 100px;
    padding-top: 0%;
    text-align: center;
  }
  
  .product-brand {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
  }
    
  .price {
    font-weight: 900;
    font-size: 20px;
    align-items: center;
  }
  
  .actual-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
  }
  
  .pre-btn,
  .nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
    opacity: 1;
  }
  
  .pre-btn {
    left: 0;
    transform: rotate(180deg);
  }
  
  .nxt-btn {
    right: 0;
  }
  
  .pre-btn img,
  .nxt-btn img {
    opacity: 0.2;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }
  
  
  .collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .collection {
    position: relative;
  }
  
  .collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
  }
  
  .collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
  }





  /* ------ Pie de pagina ---------*/

  .pie-pagina{
    width: 100%;
    background-color: #0a141d;
    font-family: 'Raleway', sans-serif;
  }

  .pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
  }

  .pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .pie-pagina .grupo-1 .box figure img {
    width: 250px;
  }

  .pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
  }

  .pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
  }

  .pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
  }

  .pie-pagina .grupo-1 .red-social a:hover{
    color: #f38a8a;
  }

  .pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
  }

  .pie-pagina .grupo-2 small{
    font-size: 15px;
  }

  @media screen and (max-width:800px) {
      .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;
      }
    
  }