@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;1,100&display=swap');



body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(Imagenes/banner.jpg);
    background-size: cover;
    background-position: center;
    font-family: 'raleway';
    

}


.fondo{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: transform .5s ease height .2s ease;
    
   
}



.fondo.active{
    height: 455px;
}

.fondo .contenedor-form{
    width: 100%;
    padding: 40px;
  
}

.fondo .contenedor-form.login{
    transition: .17s ease;
    transform: translateX(0);
}

.fondo.active .contenedor-form.login{
    transition: none;
    transform: translateX(-400px);
}

.fondo .contenedor-form.registrar{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.fondo.active .contenedor-form.registrar{
    transition:  transform .17s ease;
    transform:  translateX(0);
}

.fondo .icono-cerrar{
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background-color: #090f1d;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
    font-size: 1.8em;
    color: #ffffff;
}

.contenedor-form h2{
    font-size:  2em;
    color: #0f0e0e;
    text-align: center;
}

.contenedor-input{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #e3cdcd;
    margin: 30px 0;
}

.contenedor-input label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 600;
    pointer-events: none;
    transition: 0.4s;
    color: #000211;
}

input:focus~label,
input:valid~label {
  top: -5px;
}

.contenedor-input input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #000000;
    padding: 0 35px 0 5px;
}

.contenedor-input i{
    position: absolute;
    right: 8px;
    font-size: 1.4em;
    color: #f1efef;
    line-height: 57px;
}

.recordar{
    font-size: .9em;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
}

.recordar label input{
    accent-color: #090f1d;
    margin-right: 3px;
}

.recordar a{
    color: #f1efef;
    text-decoration: none;
}

.recordar a:hover{
    text-decoration: underline;
}

.btn{
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-weight: bold;
    background-color: #090f1d;
    color: #f1efef ;
}

.registrar{
    font-size: .9em;
    color:  #f38a8a;
    ;
    text-align: center;
    margin: 25px 0 10px;
}

.registrar p a{
    color: #000000;
    text-decoration: none;
}

.registrar p a:hover{
    text-decoration: underline;
}